{% extends "layout.html" %}
    {% block title %}

        <!-- Page Header-->
    
        <header class="masthead" style="background-image: url('../static/img/medical.jpg')" >
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>DocCare</h1>
                            <span class="subheading"><b>Your Personalise Doctor</b> </span>
                            <h2>{{disease}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        

        
        <div style="text-align: center;">
            <h3>Welcome {{ur_name}} to DocCare</h3>
            <br>
            <h6>we offer you the most personalised health Care!!</h6>
        </div>

        <div class="wrapper xyz">
            <h3 class="site-heading">Provide your symptoms here!</h3><br>
            <div class="search-input">
                <a href="" target="_blank" hidden></a>
                <input type="text" placeholder="Type to search.." id="textfield" onclick="ClearFields()">
                <div class="autocom-box">
                <!-- here list are inserted from javascript -->
                 </div>
                <div class="icon" ><ion-icon name="add-circle-sharp" size="large" style="text-align: center;" ></ion-icon>
                </div>
            </div>

            <br>
            <div class="subbuttn">
                <a href="" target="_blank" hidden></a>
                <button type="button" class="btn-lg text-uppercase button-85">Submit</button>
                <!-- <a class="btn btn-primary text-uppercase" href="" style="text-align: center;">Submit</a> -->
            </div>
            <br>
        </div>  
        
        <div class="symptoms" >
            <div id="myDIV">
                <!-- come from js -->
            </div>
        </div>
        
        <br><br><br>
            {% if disease is defined %}
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-preview">
                            <a href="/post/first-post">
                                <h2 class="post-title">You might be suffering from {{disease}}</h2>
                                <h3 class="post-subtitle">Get in touch with DocCare</h3>
                            </a>
                            <p class="post-meta">
                                Predicted by Machine Learning Algorithm
                                <!-- <a href="#!">Admin</a> -->
                            </p>
                        </div>
                        <div class="post-preview">
                            <a href="post.html">
                                <h2 class="post-title">Know more about {{Disease}} </h2>
                                <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">Admin</a>
                                
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                            <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on September 24, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on September 18, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Science has not yet mastered prophecy</h2>
                            <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on August 24, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Failure is not an option</h2>
                            <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on July 8, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div> -->
                </div>
            </div>
        </div>
        
        <script src="../static/js/Myscript.js"></script>
            
    {% endblock %}
        
